<div id='main-page'>
  <div id='welcome'>
    <h1>Welcome to Build a Buddy</h1>
  </div>
  <%= link_to admin_path do %>
    <i id='admin-link' class="fas fa-cloud-upload-alt fa-3x"></i>
  <% end %>
</div>
