// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@keyframes bgcolor {
    0% {
        background-color: #45a3e5
    }

    30% {
        background-color: #66bf39
    }

    60% {
        background-color: #eb670f
    }

    90% {
        background-color: #f35
    }

    100% {
        background-color: #864cbf
    }
}

body {
  -webkit-animation: bgcolor 20s infinite;
  animation: bgcolor 10s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}
#main-page{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

#welcome{
  font-family: 'Lobster', cursive;
  color:white;
}
#admin-welcome{
  font-family: 'Lobster', cursive;
  color:white;
  width:100%;
  text-align:center;
}

#upload-options{
  display: block;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content :space-around;
}

.option-tile{
  height:300px;
  width:300px;
  border-color:white;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  color:white;
  margin:10px;
  padding:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}
.option-tile:hover{
  background: rgba(black, 0.3);
}

#hide input[type=file] {
display:none;
margin:10px;
}
#hidden-submit{
  background-color:transparent;
  border:none;
  color:white;
}
#hidden-submit:hover{
  color:lightgreen;
}
